<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Organize seus estudos</title>
</head>
<body>
    <nav id="navbar">
        <a href="/" id="logo">
            <img src="/img/logo.png" alt="logo" width="auto" height="50px">
        </a>
        <h1>Organize seus estudos</h1>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    <footer>
        <p><span>Organize seus estudos</span> &copy; 2023 <br/>
        Desenvolvido por <span><a href="https://github.com/WVitor">WVitor</a></span>.</p>
    </footer>
</body>
</html>